<div class="row">
    <div class="col-4">

        <h3>Seleccione los archivos</h3>
        <div appNgDropFiles (mouseSobre)="estaSobre = ($event)" [ngClass]="{'file-over': estaSobre}" class="well drop-zone">
            <h4>Deje caer los archivos aqui</h4>
            <img src="assets/drop-images.png" alt="Imagen-carga">
        </div>

    </div>
    <div class="col-8">

        <h4>Cargar archivos</h4>
        <button class="btn btn-success" [disabled]="archivos.length === 0" (click)="cargarImagenes()">Cargar a FirseBase</button>
        <button class="btn btn-danger">Limpiar</button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre del archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>xyz</th>
                    <th>12</th>
                    <th>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </th>
                </tr>
            </tbody>

        </table>

    </div>
</div>